@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --font-montserrat: "Montserrat", sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 6s ease infinite;
  filter: drop-shadow(0 0 8px #00C66E);
}